body {
  margin: 0;
  padding: 0;
}

button {
  background-color: rgb(114, 4, 114);
  color: white;
  padding: 15px;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: 800px;
  width: 100%;
}

.intro-text {
  text-align: center;
  align-items: center;
  width: 50%;
}

.intro-text p {
  font-size: 20px;
  font-weight: 600;
}

#timer {
  display: none;
  font-size: 30px;
}

.question-box {
  display: none;
}

.question-box li button:hover {
  background-color: rgb(209, 2, 209);
}

#question-text {
  font-size: 20px;
  font-weight: 600;
}
#correct-incorrect {
  margin-top: 20px;
}

ul {
  padding-bottom: 100px;
  width: 50%;
  max-height: 300px;
  border-bottom: 2px solid black;
}

.high-score-submit {
  display: none;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.high-score-submit input {
  padding: 10px;
}

.high-score-history {
  display: none;
  padding: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: cadetblue;
}

.high-score-history button:hover {
  background-color: rgb(209, 2, 209);
}

.high-score-history p {
  font-size: 30px;
  background-color: rgb(243, 174, 243);
}
