body {
  margin: 0;
  padding: 0;
}

button {
  background-color: rgb(114, 4, 114);
  color: white;
  padding: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  height: 800px;
  width: 100%;
}

.question-box {
  display: none;
}

#question-text {
  font-size: 20px;
  font-weight: 600;
}

ul {
  padding-bottom: 10px;
  width: 50%;
  height: 200px;
  border-bottom: 2px solid black;
}

.high-score-submit {
  display: none;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.high-score-submit input {
  padding: 10px;
}

.high-score-history {
  display: none;
  padding: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: cadetblue;
}

.high-score-history p {
  text-align: center;
  background-color: chartreuse;
}
